@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --rosa-principal: #faa094ff;
    --verde-principal: #9ed9ccff;
    --rosa-secundario: #ffddeeff;
    --verde-secundario: #008c76ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: inherit;
}

.titulo {
    font-size: 1.375rem;
}

.paragrafo {
    font-size: 1rem;
    line-height: 1.5;
}