body {
    background-image: url("../img/background_sobre_mobile-04.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 40px 0px 0px 0px;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.logo-container {
    width: 200px;
    margin-top: 30px;
}

main {
    width: 90%;
    max-width: 1280px;
}

h2 {
    margin-top: 16px;
}

.rosa {
    color: var(--rosa-principal);
}

.verde {
    color: var(--verde-secundario);
}

.bold {
    font-weight: bold;
}

.metade {
    width: 50%;
}

footer {
    position: relative;
    width: 100%;
    margin-top: 40px;
    background-color: var(--rosa-principal);
    padding: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.img-container {
    max-width: 180px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

footer p {
    z-index: 1000;
    width: 65%;
}

@media (min-width: 768px) and (max-width: 1279px) {
    header {
        width: 90%;
    }

    .navbar {
        gap: 1rem;
    }

    main {
        width: 60%;
    }

    .menor {
        width: 75%;
    }

    .img-container {
        max-width: 300px;
    }

    footer {
        padding: 16px calc((100% - 768px) / 2);
    }
}


@media (min-width: 1280px) {
    header {
        width: 90%;
    }

    .navbar {
        justify-content: flex-end;
        gap: 1.5rem;
    }
    
    section {
        width: 70%;
    }

    footer {
        padding: 16px calc((100% - 1280px) / 2);
    }

    .img-container {
        max-width: 450px;
    }  
}
